{{#if resume.awards.length}}
<div class="container awards-container">
    {{> title value="Awards"}}

	<ul class="list">
    {{#each resume.awards}}
		<li>&bull; {{ this.title }}</li>
    {{/each}}
	</ul>
</div>
{{/if}}